
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.w-100 
{
    width: 70%;
    height: 64vh;
}

.navbar
{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.page-footer
{
    background-color: rgb(33, 37, 41)!important;
    color: white;
}

.container
{
    padding-right: 15rem;
    padding-left: 15rem;
}